@tailwind base;

@layer base {
    h1 {
      @apply text-2xl;
    }
    h2 {
      @apply text-xl;
    }
    h3 {
      @apply text-lg;
    }
    a {
      @apply text-blue-600 underline;
    }
  }

@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}


body {
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 1000px;
  max-height: 100vh;
  min-height: 850px;
}

.content  {
  width: 1280px;
  height: 800px;
}

/* NAVIGATION BAR */

.navbar {
  display: flex;
  justify-content: space-between;
  /* margin-top: 62px; */
  font-size: 2rem;
  /* align-items: center; */
}

.navbar nav {
  padding-top: 5px;
}

.navbar nav ul li a {
  text-decoration: none;
  color: #322e2e;
  position: relative;
}

.navbar nav ul li a::before {
  position: absolute;
  content: "";
  width: 35%;
  height: 1px;
  border: 2px solid black;
  bottom: -6px;
  transition: width .1s;
}

.navbar nav ul li a:hover:before {
  width: 100%;
}

/* Display errors and success messages */

.email-errors,
.email-success,
.email-fail {
  font-size: 1.2rem;
  position: absolute;
  left: 9rem;
  bottom: 10rem;
  padding: .5rem;
  border-radius: 5px;
}

.email-errors,
.email-fail {
  color: #cb245b;
  background: #f9e6ec;
}

.email-success {
  color: #195133;
  background: #dbf0e1;
}

.loading-spinner {
  display: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: -26px;
}

/* MAIN */

main {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
  gap: 13.7em;
}

.left-col {
  width: 49%;

}

.left-col h1 {
  font-size: 5.6rem;
  font-weight: bold;
  line-height: 1.2;
  color: #322E2E;
  letter-spacing: .15rem;
}

.left-col h2 {
  margin-top: 24px;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 1.2px;
  color: #322E2E;
}

.left-col .connect {
  position: relative;
  color: #322E2E;
  text-decoration: none;
  /* cursor: pointer; */
}

.left-col .connect::before {
  position: absolute;
  content: "";
  width: 35%;
  height: 1px;
  border: 2px solid black;
  bottom: -6px;
  transition: width .1s;
}

.left-col .connect:hover:before {
  width: 100%;
}

.left-col .extras {
  text-transform: uppercase;
  color: #cb245b;
  /* font-weight: lighter; */
}

.left-col .about-info {
  display: flex;
  flex-direction: column;
  margin-top: 55px;
  gap: 1.9rem;
  font-size: 1.6rem;
  text-align: justify;
  color: #262626;
}

.left-col .cta-btns {
  margin-top: 115px;
  display: flex;
  gap: 1em;
  flex-direction: column;
  position: relative;
}

.left-col .cta-btns input,
.left-col .cta-btns button {
  border-radius: 5px;
  padding-inline: 1em;
  padding-block: .4em;
  font-size: 1.6rem;
  align-self: center;
}

.left-col .cta-btns button {
  display: flex;
  background-color: #322E2E;
  color: #e6e6e6;
  width: 54%;
  border: 1px solid black;
  justify-content: space-between;
  transition: all .1s;
}

.left-col .cta-btns button:hover {
  background-color: #e6e6e6;
  color: #322E2E;
}

/* .left-col .cta-btns:hover button svg {
  fill: #322E2E;
} */

.left-col .cta-btns input {
  flex: 1;
  width: 70%;
  border: 1px solid black;
}

.left-col .cta-btns input::placeholder {
  font-weight: 300;
  color: #c9abb4;
  border: 1px;
}

.left-col .cta-btns button span {
  text-transform: uppercase;
  
  font-weight: bold;
}

.left-col .cta-btns button svg {
  width: 2.4rem;
  height: 2.4rem;
  fill: #e6e6e6;
  transition: all .1s;
}

.left-col .cta-btns button:hover svg {
  fill: #322E2E;
}


.right-col {
  display: flex;
  gap: 2em;
  display: flex;
  justify-content: space-between;
}

.right-col .img1,
.right-col .img2 {
  width: 27.1em;
  height: 53.2em;
  border-radius: 5px;
}

.right-col .img1 {
  align-self: end;
  overflow: hidden;
}

.img1-1 {
  background-image: url('/public/images/medium-movie1.jpg'); 
  background-size: cover;
  background-position: center center; 
  background-repeat: no-repeat;
  transition: background-size 2s ease-in;
  width: 100%;
  height: 100%;
  transition: .1s;
}

.img2-1 {
  background-image: url('/public/images/medium-movie2.jpg'); 
  background-size: cover;
  background-position: center center; 
  background-repeat: no-repeat;
  transition: background-size 2s ease-in;
  width: 100%;
  height: 100%;
  transition: .1s;
}

.right-col .img2 {
  overflow: hidden;
}

.right-col .img1-1:hover {
  transform: scale(1.05);
}

.right-col .img2-1:hover {
  transform: scale(1.05); 
}

